@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #19284298;
}
::-webkit-scrollbar-thumb:hover {
  background: #192842dc;
}

body {
  background-image: url("/bg.jpg");
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chat-container {
  display: flex;
  backdrop-filter: blur(15px) saturate(180%);
}

.details,
.list,
.search-bar,
.chat-center,
.login-item {
  flex: 1;
}

.chat {
  flex: 2;
}

.chat-list-li:not(:last-child) {
  border-bottom: 1px solid #dddddd35;
}

.message.own {
  align-self: flex-end;
}

.message .texts {
  position: relative;
}

.message .texts p {
  position: relative;
  background: #11192880;
}

.message .texts .triangle {
  position: absolute;
  top: 12px;
  left: -13px;
  width: 0;
  height: 0;
  border-top: 7px solid #11192880;
  border-right: 7px solid #11192880;
  border-left: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.message.own .texts p {
  background: #5185fe52;
}

.message.own .texts p::before {
  border: none;
}

.login-item input {
  padding: 12px;
  border: 1px solid #dddddd35;
  outline: none;
  border-radius: 6px;
  color: white;
  background: #11192899;
}
